In [1]:
import pandas as pd
import os

mainpath = "C:/Users/guill/Documents/Universidad/PlataformaRefugiados/NAUTIA/DesarrolloPy/DataSetOriginales"
filename = "Shimelba_HostCommunity_Survey_results.csv"
fullpath = os.path.join(mainpath, filename)

data = pd.read_csv(fullpath)

def dfFix(df,col1,col2):
    result = df
    x = result.columns.get_loc(col1)
    result.drop(result.columns[:x],axis = 1, inplace = True)
    y = result.columns.get_loc(col2)
    result.drop(result.columns[y+1:],axis = 1, inplace = True)
    return result

def mkCSV(df,fileName):
    df.reset_index().to_csv('DataSetFinales/'+fileName,header = True, index=False)

    

data.set_index("group_lj1dr54:refugee_community",inplace=True)

dfCommunity = data.loc['community'].copy()
dfCommunity = dfFix(dfCommunity,"group_lj1dr54:age","group_lj1dr54:_1_5_Choose_the_ethnic_group_o")
mkCSV(dfCommunity,"archivoCommunity.csv")

dfCamp = data.loc['refugee'].copy()
dfCamp = dfFix(dfCamp,"group_lj1dr54:age","group_lj1dr54:_1_5_Choose_the_ethnic_group_o")
mkCSV(dfCamp,"archivoShimelba.csv")

In [33]:
data.head(10)

,group_on1ls06:number_people,group_on1ls06:number_adults,group_on1ls06:number_children,group_ab8oh18:_3_1_Who_cooks_in_your_home,group_ab8oh18:Who_are_you,group_ab8oh18:_3_2_Where_do_you_cook,group_ab8oh18:fuel_for_cooking,group_ab8oh18:fuel_for_cooking_other
group_lj1dr54:refugee_community,,,,,,,,
community,5,2,3,mother,NaN,outdoor__home,firewood charcoal,NaN
community,2,1,1,mother,NaN,outdoor__home,firewood charcoal,NaN
community,7,4,3,mother sister,NaN,outdoor__home,firewood,NaN
community,1,1,0,mother,NaN,outdoor__home,firewood,NaN
community,1,1,0,mother,NaN,outdoor__home,firewood,NaN
community,3,2,1,mother,NaN,outdoor__home,firewood charcoal,NaN
refugee,3,2,1,mother father,NaN,outdoor__home,firewood charcoal,NaN
refugee,14,8,6,mother sister,NaN,indoor__home,firewood charcoal,NaN
refugee,3,2,1,mother,NaN,outdoor__home,firewood charcoal,NaN
refugee,3,2,1,mother sister,NaN,outdoor__home,firewood charcoal,NaN

In [3]:
dfToAdd = data

In [4]:
dfToAdd.shape

(307, 53)

In [5]:
x = dfToAdd.columns.get_loc("group_on1ls06:number_people")
dfToAdd.drop(dfToAdd.columns[:x],axis = 1, inplace = True)
dfToAdd.drop(dfToAdd.columns[x+1:],axis = 1, inplace = True)

In [6]:
dfToAdd.shape

(307, 8)

In [7]:
dfToAdd = dfToAdd.loc['community'].copy()

In [8]:
dfToAdd.shape

(146, 8)

In [9]:
dfCommunity.shape

(146, 4)

In [10]:
dfFinalCommunity = pd.concat([dfCommunity,dfToAdd],axis = 1)

In [11]:
data2 = pd.read_csv("C:/Users/guill/Documents/Universidad/PlataformaRefugiados/NAUTIA/DesarrolloPy/DataSetOriginales/Bibliography_111019.csv",sep = ";")

In [12]:
data2

,Unnamed: 0,GENERAL INFORMATION - COUNTRY LEVEL,Unnamed: 2,Unnamed: 3
0,1,Population,Host community's country,Refugees' country
1,"1,1",Country's name,Etiopia,Eritrea
2,"1,2",Number of inhabitants (#),105000000,4475000
3,1.2.1,"Men, younger than 5 years (%)",20,10
4,1.2.2,Women between 5-17 years (%),10,20
5,1.2.3,"Men, between 5-17 years (%)",10,20
6,1.2.4,Women between18-59 years (%),10,10
7,1.2.5,Men between 18-59 years(%),10,10
8,1.2.6,Women older than 60 years (%),10,10
9,1.2.7,Women youngere than 5 years (%),20,10
10,1.2.8,"Men, older than 60 years (%)",10,10
11,"1,3",Total population,NaN,NaN
12,1.3.1,Total children younger than 5 years (%),40,20
13,1.3.2,Total population between 5-17 years (%),20,40
14,1.3.3,Total population between 18 to 59 years (%),20,20
15,1.3.4,Total population 60 años (%),20,20
16,"1,4",Growth rate of populatoin (%),34,45
17,"1,5",Refugee population (%),5,4
18,"1,6",Human development index (points),3,3
19,"1,7",Life expentancy at birth (years),65,60
20,2,Culture,NaN,NaN
21,"2,1",Ethnic groups,NaN,NaN
22,2.1.1,Ethnich group 1,grupo 1,grupo 2
23,2.1.2,Ethnich group 2,grupo 2,NaN
24,2.1.3,Ethnich group 3,NaN,NaN
25,"2,2",Religion,NaN,NaN
26,2.2.1,Religion 1,musulmana,musulmana
27,2.2.2,Religion 2,cristiana,NaN
28,2.2.3,Religion 3,judia,NaN
29,"2,3",Language,NaN,NaN
...,...,...,...,...
161,"27,6",6,NaN,NaN
162,"27,7",7,NaN,NaN
163,28,Private institutions,NaN,NaN
164,"28,1",1,una,otra
165,"28,2",2,NaN,NaN
166,"28,3",3,NaN,NaN
167,"28,4",4,NaN,NaN
168,"28,5",5,NaN,NaN
169,"28,6",6,NaN,NaN
170,29,Non-profit organizations/NGOs,NaN,NaN
171,"29,1",1,una,otra
172,"29,2",2,NaN,NaN
173,"29,3",3,NaN,NaN
174,"29,4",4,NaN,NaN
175,"29,5",5,NaN,NaN
176,"29,6",6,NaN,NaN
177,30,International cooperation agencies,NaN,NaN
178,"30,1",1,una,otra
179,"30,2",2,NaN,NaN
180,"30,3",3,NaN,NaN
181,"30,4",4,NaN,NaN
182,"30,5",5,NaN,NaN
183,"30,6",6,NaN,NaN
184,31,Local representatives/local committees/ local ...,NaN,NaN
185,"31,1",1,una,otra
186,"31,2",2,NaN,NaN
187,"31,3",3,NaN,NaN
188,"31,4",4,NaN,NaN
189,"31,5",5,NaN,NaN
190,"31,6",6,NaN,NaN

In [13]:
data2 = dfFix(data2,"GENERAL INFORMATION - COUNTRY LEVEL","Unnamed: 3")

In [14]:
data2

,GENERAL INFORMATION - COUNTRY LEVEL,Unnamed: 2,Unnamed: 3
0,Population,Host community's country,Refugees' country
1,Country's name,Etiopia,Eritrea
2,Number of inhabitants (#),105000000,4475000
3,"Men, younger than 5 years (%)",20,10
4,Women between 5-17 years (%),10,20
5,"Men, between 5-17 years (%)",10,20
6,Women between18-59 years (%),10,10
7,Men between 18-59 years(%),10,10
8,Women older than 60 years (%),10,10
9,Women youngere than 5 years (%),20,10
10,"Men, older than 60 years (%)",10,10
11,Total population,NaN,NaN
12,Total children younger than 5 years (%),40,20
13,Total population between 5-17 years (%),20,40
14,Total population between 18 to 59 years (%),20,20
15,Total population 60 años (%),20,20
16,Growth rate of populatoin (%),34,45
17,Refugee population (%),5,4
18,Human development index (points),3,3
19,Life expentancy at birth (years),65,60
20,Culture,NaN,NaN
21,Ethnic groups,NaN,NaN
22,Ethnich group 1,grupo 1,grupo 2
23,Ethnich group 2,grupo 2,NaN
24,Ethnich group 3,NaN,NaN
25,Religion,NaN,NaN
26,Religion 1,musulmana,musulmana
27,Religion 2,cristiana,NaN
28,Religion 3,judia,NaN
29,Language,NaN,NaN
...,...,...,...
161,6,NaN,NaN
162,7,NaN,NaN
163,Private institutions,NaN,NaN
164,1,una,otra
165,2,NaN,NaN
166,3,NaN,NaN
167,4,NaN,NaN
168,5,NaN,NaN
169,6,NaN,NaN
170,Non-profit organizations/NGOs,NaN,NaN
171,1,una,otra
172,2,NaN,NaN
173,3,NaN,NaN
174,4,NaN,NaN
175,5,NaN,NaN
176,6,NaN,NaN
177,International cooperation agencies,NaN,NaN
178,1,una,otra
179,2,NaN,NaN
180,3,NaN,NaN
181,4,NaN,NaN
182,5,NaN,NaN
183,6,NaN,NaN
184,Local representatives/local committees/ local ...,NaN,NaN
185,1,una,otra
186,2,NaN,NaN
187,3,NaN,NaN
188,4,NaN,NaN
189,5,NaN,NaN
190,6,NaN,NaN

In [15]:
data2.columns = ['GeneralInfo', 'CommunityCountry', 'RefugeeCountry']

In [16]:
data2 = data2.transpose()

In [17]:
data2

,0,1,2,3,4,5,6,7,8,9,...,181,182,183,184,185,186,187,188,189,190
GeneralInfo,Population,Country's name,Number of inhabitants (#),"Men, younger than 5 years (%)",Women between 5-17 years (%),"Men, between 5-17 years (%)",Women between18-59 years (%),Men between 18-59 years(%),Women older than 60 years (%),Women youngere than 5 years (%),...,4,5,6,Local representatives/local committees/ local ...,1,2,3,4,5,6
CommunityCountry,Host community's country,Etiopia,105000000,20,10,10,10,10,10,20,...,NaN,NaN,NaN,NaN,una,NaN,NaN,NaN,NaN,NaN
RefugeeCountry,Refugees' country,Eritrea,4475000,10,20,20,10,10,10,10,...,NaN,NaN,NaN,NaN,otra,NaN,NaN,NaN,NaN,NaN

In [18]:
data2.columns = data2.iloc[0]

In [19]:
data2

GeneralInfo,Population,Country's name,Number of inhabitants (#),"Men, younger than 5 years (%)",Women between 5-17 years (%),"Men, between 5-17 years (%)",Women between18-59 years (%),Men between 18-59 years(%),Women older than 60 years (%),Women youngere than 5 years (%),...,4,5,6,Local representatives/local committees/ local liders,1,2,3,4,5,6
GeneralInfo,Population,Country's name,Number of inhabitants (#),"Men, younger than 5 years (%)",Women between 5-17 years (%),"Men, between 5-17 years (%)",Women between18-59 years (%),Men between 18-59 years(%),Women older than 60 years (%),Women youngere than 5 years (%),...,4,5,6,Local representatives/local committees/ local ...,1,2,3,4,5,6
CommunityCountry,Host community's country,Etiopia,105000000,20,10,10,10,10,10,20,...,NaN,NaN,NaN,NaN,una,NaN,NaN,NaN,NaN,NaN
RefugeeCountry,Refugees' country,Eritrea,4475000,10,20,20,10,10,10,10,...,NaN,NaN,NaN,NaN,otra,NaN,NaN,NaN,NaN,NaN

In [20]:
data2 = data2.drop(data2.index[0])

In [21]:
dfCommunityCountry = data2.drop(data2.index[1])

In [22]:
dfCommunityCountry

GeneralInfo,Population,Country's name,Number of inhabitants (#),"Men, younger than 5 years (%)",Women between 5-17 years (%),"Men, between 5-17 years (%)",Women between18-59 years (%),Men between 18-59 years(%),Women older than 60 years (%),Women youngere than 5 years (%),...,4,5,6,Local representatives/local committees/ local liders,1,2,3,4,5,6
CommunityCountry,Host community's country,Etiopia,105000000,20,10,10,10,10,10,20,...,NaN,NaN,NaN,NaN,una,NaN,NaN,NaN,NaN,NaN

In [23]:
dfRefugeeCountry = data2.drop(data2.index[0])

In [24]:
dfRefugeeCountry

GeneralInfo,Population,Country's name,Number of inhabitants (#),"Men, younger than 5 years (%)",Women between 5-17 years (%),"Men, between 5-17 years (%)",Women between18-59 years (%),Men between 18-59 years(%),Women older than 60 years (%),Women youngere than 5 years (%),...,4,5,6,Local representatives/local committees/ local liders,1,2,3,4,5,6
RefugeeCountry,Refugees' country,Eritrea,4475000,10,20,20,10,10,10,10,...,NaN,NaN,NaN,NaN,otra,NaN,NaN,NaN,NaN,NaN